
<!DOCTYPE html>
<html>
    <head>
        <title>Random Frogs</title>
    </head>

    <body>
        <center>
            <br>
            <h2>Cat Count: {{length}}</h2>

            <a target="_blank" href="https://github.com/imvickykumar999/http-cat-meme">
                <h3>Add more cats!</h3>
            </a>

            <br>
            API is Available:
            <a target="_blank" href="/random">
                /random
            </a>
            
            <br><br>
            <a href="/">Refresh</a>

            <br><br><br>
            <a target="_blank" href="/?i={{num}}">
                <img src="/static/{{num}}.jpg" 
                width="40%"
                alt="{{num}}.jpg">
            </a>

        </center>
    </body>
</html>